<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
    <style>
        #words {
            height: 400px;
        }
        .container {
            width: 70%;
            margin: auto;
            text-align: center;
        }

        .dice {
            text-align: center;
            display: inline-block;

        }

        body {
            background-color: #393E46;
        }

        h1 {
            margin: 30px;
            font-family: 'Lobster', cursive;
            text-shadow: 5px 0 #232931;
            font-size: 4rem;
            color: #4ECCA3;
        }

        p {
            font-size: 2rem;
            color: #4ECCA3;
            font-family: 'Indie Flower', cursive;
        }

        img {
            width: 80%;
        }

        footer {
            margin-top: 5%;
            color: #EEEEEE;
            text-align: center;
            font-family: 'Indie Flower', cursive;

        }
        #roll {
            text-align: center;
            font-size: 2rem;
            color: #4ECCA3;
            background-color: #393E46;
            font-family: 'Indie Flower', cursive;
            margin: 0;
            position: absolute;
            top: 75%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand ps-2" href="/">TestApp4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""><%= response.user %></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center mx-auto mt-1 pt-5" id="pic">
        
    </div>        
    <div class="container">
        <h1>Hello <%= response.user %> Click Button to Roll</h1>
  
        <div class="dice">
          <p><%= response.user %></p>
          <img class="img1" src="">
        </div>
  
        <div class="dice">
          <p>Your Opponent</p>
          <img class="img2" src="">
        </div>
    </div>
    <button onclick="myFunction()" id="roll">Roll Dice</button>
    <script>
        const diceImage = ["../images/dice1.png","../images/dice2.png","../images/dice3.png","../images/dice4.png","../images/dice5.png","../images/dice6.png"];

        document.querySelector(".img1").src = diceImage[5];
        document.querySelector(".img2").src = diceImage[5];

        function myFunction(){
            const dice1 = Math.floor(Math.random()*6);
            const dice2 = Math.floor(Math.random()*6);
        
            document.querySelector(".img1").src = diceImage[dice1];
            document.querySelector(".img2").src = diceImage[dice2];
        
            if(dice1 > dice2){
                document.querySelector("h1").innerHTML = "You Win";
            } else if(dice2 > dice1){
                document.querySelector("h1").innerHTML = "You Lost";
            } else {
                document.querySelector("h1").innerHTML = "Draw";
            }
        };
    </script>
</body>
</html>